@use "sass:map";
@use "colors";

@mixin large-desktop-only {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin desktop-only {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin mobile-only {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin flex-centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

@function get-color($color) {
    @return map.get(colors.$colors-map, $color);
}

@mixin override-btn {
    width: 200px;
    height: 55px;
    background-color: rgba(get-color(button), 0.7);
    display: block;
    margin-top: 15px;
    font-size: 1.1em;
  
    &:hover, &:focus {
      background-color: get-color(button);
    }
}
