@mixin large-desktop-only {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin desktop-only {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin mobile-only {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin flex-centering {
    display: flex;
    justify-content: center;
    align-items: center;
}