.main-container {
    padding: 10px;
}

.name-of-section {
    font-size: 3em;
    font-weight: bold;
    color: var(--blue-700);
    opacity: 0.65;
}

.section-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .header {
        font-size: 1.5em;
        font-weight: 600;
    }

    .header2 {
        font-size: 2em;
        font-weight: 600;
    }
    
    .header3 {
        font-size: 3em;
        font-weight: 600;
    }
}

.next-page {
    font-size: 1.5em;
    cursor: pointer;

    animation-name: move-chevron;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes move-chevron {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(5px);
    }
}

.static-image-background {
    background-size: 100%;
    background-attachment: fixed;
    color: white;
    justify-content: center;
}

@keyframes bg-animation {
  0% { background-position: 10% 0% }
  50% { background-position: 91% 100% }
  100% { background-position: 10% 0% }
}
@-webkit-keyframes Animation {
  0% { background-position: 10% 0% }
  50% { background-position: 91% 100% }
  100% { background-position: 10% 0% }
}
@-moz-keyframes Animation {
  0% { background-position: 10% 0% }
  50% { background-position: 91% 100% }
  100% { background-position: 10% 0% }
}
